In [2]:
#Now we will deal with the apply methods for DataFrames

import pandas as pd
import numpy as np
from pandas import Series, DataFrame

frame_obj = DataFrame(np.random.randn(4,3), columns=list('bde'), index=['First','Second','Third','Fourth'])
frame_obj

               b         d         e
First   1.850328  0.000154 -2.013637
Second  0.318101 -1.497292 -0.198700
Third  -0.507836  0.841405  2.139488
Fourth -0.628587  0.941262  1.083527

In [5]:
#We can perform a particular function on a DataFrame's data using the Apply method 

f = lambda x: x.max() - x.min() #A simple function to calculate max-min value for a set of values

#Now applying the function on the DataFrame
frame_obj.apply(f) #Applies function to columns

b    2.478915
d    2.438554
e    4.153125
dtype: float64

In [6]:
#Now by defualt the axis value for this apply method is 0, we can alter it to apply the function to other axes
frame_obj.apply(f, axis = 1) #Applies function to rows

First     3.863965
Second    1.815393
Third     2.647324
Fourth    1.712114
dtype: float64

In [8]:
#The function that apply uses doesnt necessarily have to be a scalar value, we can return structures through it as well

def f(x):
    return Series([min(x),max(x)], index=['min','max']) #returns a series containing max and min elements of x

#Applying the function to DataFrame object
frame_obj.apply(f) #Computes the max and min values and returns it as a Series as per the function

            b         d         e
min -0.628587 -1.497292 -2.013637
max  1.850328  0.941262  2.139488

In [9]:
#In case of row wise
frame_obj.apply(f, axis = 1)

             min       max
First  -2.013637  1.850328
Second -1.497292  0.318101
Third  -0.507836  2.139488
Fourth -0.628587  1.083527

In [10]:
#In case of applying an element wise function, we have
def format(x): #Returns the formatted string of the items in x
    return '%2f'%x
    
frame_obj.applymap(format)

                b          d          e
First    1.850328   0.000154  -2.013637
Second   0.318101  -1.497292  -0.198700
Third   -0.507836   0.841405   2.139488
Fourth  -0.628587   0.941262   1.083527

In [13]:
#In case we want to apply the function to only the 'e' column of the DataFrame
frame_obj['e'].map(format)

First     -2.013637
Second    -0.198700
Third      2.139488
Fourth     1.083527
Name: e, dtype: object