In [1]:
#Now we will see how to deal with indexes in which labels are duplicate

import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [4]:
series_obj = Series(np.arange(7), index=['a','b','a','c','d','a','c'])
series_obj

a    0
b    1
a    2
c    3
d    4
a    5
c    6
dtype: int32

In [7]:
#We can find whether a certain object's indexes are unique or not as:
series_obj.index.is_unique

False

In [8]:
#In case of Data selection, a certain index returns all the values stored at that index
series_obj['a']

a    0
a    2
a    5
dtype: int32

In [9]:
#Same goes in case of DataFrame
frame_obj = DataFrame(np.random.randn(4,3), index=['a','b','a','c'])
frame_obj

          0         1         2
a -1.333040 -0.410786 -0.465574
b  1.308799 -1.623032  0.257251
a  1.036575 -1.997923 -0.711075
c  0.805056  1.859086  3.042280

In [10]:
frame_obj.loc['a']

          0         1         2
a -1.333040 -0.410786 -0.465574
a  1.036575 -1.997923 -0.711075