In [1]:
#Suppose we want to transform our data based on the values of an array, series or dataframe
import pandas as pd
from pandas import DataFrame, Series
import numpy as np

In [2]:
#Consider a dataset containing data about various types of meats
data = DataFrame({'food':['mutton','beef','pastraml','beef','nova lox','beef'], 'ounces':[3.4,2.3,5.4,4.5,2.5,6.1]})

In [3]:
data

       food  ounces
0    mutton     3.4
1      beef     2.3
2  pastraml     5.4
3      beef     4.5
4  nova lox     2.5
5      beef     6.1

In [4]:
#Suppose we wanted to add a column to the dataframe idnicating the animal from which the meat came
#Create a map/dictionary to indicate each item

meat_to_animal = {'mutton':'goat', 'beef':'cow', 'pastraml':'cow', 'nova lox':'salmon'}

In [5]:
#The map method allows to map a dictionary like object and can create a new value according to the item in the food column
data['animal'] = data['food'].map(meat_to_animal)

In [6]:
data

       food  ounces  animal
0    mutton     3.4    goat
1      beef     2.3     cow
2  pastraml     5.4     cow
3      beef     4.5     cow
4  nova lox     2.5  salmon
5      beef     6.1     cow