In [4]:
#Series is a one-dimensional array object(like a Numpy Array) alongwith an index(array containing data labels of the associated values)

from pandas import Series
import pandas as pd
import numpy as np

In [5]:
series_obj = Series([4,-5,6,7])
series_obj

0    4
1   -5
2    6
3    7
dtype: int64

In [6]:
#The first column represents the index numbers that are by default starting from 0
#The second column represents the list of values stored in the series obj

#We can get the values and indices for the series obj seperately as:

series_obj.values

array([ 4, -5,  6,  7], dtype=int64)

In [7]:
series_obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
#Suppose we want to give each element a desired data label then:

series_obj2 = Series([4,-5,6,7], index = ['c','d','b','a'])
series_obj2

c    4
d   -5
b    6
a    7
dtype: int64

In [9]:
series_obj2.index

Index(['c', 'd', 'b', 'a'], dtype='object')

In [10]:
#Thus, values can be selected using the index value of that particular value
series_obj[1]

-5

In [11]:
series_obj2['b']

6

In [12]:
series_obj2[['c','b','a']]

c    4
b    6
a    7
dtype: int64

In [13]:
#We can apply Numpy array operations on the Series, which will manipulate only the values stored in the Array
series_obj2

c    4
d   -5
b    6
a    7
dtype: int64

In [14]:
series_obj2[series_obj2 > 0]

c    4
b    6
a    7
dtype: int64

In [15]:
series_obj2**2

c    16
d    25
b    36
a    49
dtype: int64

In [16]:
np.exp(series_obj2)

c      54.598150
d       0.006738
b     403.428793
a    1096.633158
dtype: float64

In [17]:
#We can use the functions that can be implemented on Dictionaries on Series
'b' in series_obj2

True

In [18]:
'e' in series_obj2

False

In [19]:
#Similarly we can create a Series object from a Dictionary object
Dictdata = {'B': 1, 'C':2, 'A':3.4, 'D':-1.23}
Dictdata

{'B': 1, 'C': 2, 'A': 3.4, 'D': -1.23}

In [20]:
series_obj3 = Series(Dictdata)
series_obj3

B    1.00
C    2.00
A    3.40
D   -1.23
dtype: float64

In [21]:
Dictkeys = ['1', 'B', '3', 'D']
series_obj3 = Series(Dictdata, Dictkeys)
series_obj3

1     NaN
B    1.00
3     NaN
D   -1.23
dtype: float64

In [22]:
#In above case, NaN values occur at positions where value was missing but the key was assigned
#These values can be detected using the following functionalities of pandas

pd.isnull(series_obj3)

1     True
B    False
3     True
D    False
dtype: bool

In [23]:
pd.notnull(series_obj3)

1    False
B     True
3    False
D     True
dtype: bool

In [24]:
#Another feature of Pandas Series object is that automatically alligns the values
series_obj

0    4
1   -5
2    6
3    7
dtype: int64

In [25]:
series_obj_ = Series([2.3,40,5.64,-2.35], index = [0,1,3,4])
series_obj_

0     2.30
1    40.00
3     5.64
4    -2.35
dtype: float64

In [26]:
series_obj + series_obj_

0     6.30
1    35.00
2      NaN
3    12.64
4      NaN
dtype: float64

In [28]:
#We can give name to the index and value columns in the Series using name attribute:

series_obj.name = 'Values'
series_obj.index.name = 'Keys'

series_obj

Keys
0    4
1   -5
2    6
3    7
Name: Values, dtype: int64

In [29]:
#We can change the index values for a given Series object by assignment oepration

series_obj.index = ['Monday','Tuesday','Wednesday','Thursday']
series_obj

Monday       4
Tuesday     -5
Wednesday    6
Thursday     7
Name: Values, dtype: int64