In [1]:
#Pickling or Pickle Serialization is the process of converting a python object into a byte stream or binary format
#We can then use the inverse operation of deserialization to get ack the original object

import pandas as pd
from pandas import DataFrame

In [3]:
#Reading a sample file
data = pd.read_csv(r'Data Files\fields.csv')

In [4]:
data

   ID           Name             Field
0   1     Adam Jones        Electrical
1   2  Edward Elrich        Mechanical
2   3    Stain Steve  Computer Science
3   4      Ken Adams     Media Science
4   5    Ross Taylor         Sportsman

In [6]:
#We can save data in pickle format by using the pandas to_pickle method
#It automatically saves the data from a dataframe into a binary pickle format using serialization
data.to_pickle(r'Data Files\pickle_data')

In [7]:
#Using the read_pickle method we can also read the pickle file by applying deserialization
pd.read_pickle(r'Data Files\pickle_data')

   ID           Name             Field
0   1     Adam Jones        Electrical
1   2  Edward Elrich        Mechanical
2   3    Stain Steve  Computer Science
3   4      Ken Adams     Media Science
4   5    Ross Taylor         Sportsman