In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [2]:
data_df = pd.read_csv('Data Files/fields.csv')

In [3]:
data_df

   ID           Name             Field
0   1     Adam Jones        Electrical
1   2  Edward Elrich        Mechanical
2   3    Stain Steve  Computer Science
3   4      Ken Adams     Media Science
4   5    Ross Taylor         Sportsman

In [4]:
#Suppose we have to read only 2 rows from the file, we can specify that to the nrows argument
data_df = pd.read_csv('Data Files/fields.csv', nrows=2)

In [5]:
data_df

   ID           Name       Field
0   1     Adam Jones  Electrical
1   2  Edward Elrich  Mechanical

In [46]:
#We can also read a csv in pieces, which is often a case for big data files.
#Suppose we want to read the data in chunks of 2 i.e. the csv is seperated into chunks containing 2 rows each
#We can do this by passing the value of our chunksize to the chunksize argument
df_chunks = pd.read_csv('Data Files/fields.csv', chunksize=2)

In [47]:
df_chunks

In [48]:
#Using the returned text parser object we can iterate over the given csv file according to the chunk size as shown below
#If displayed it will show three different series each havingn chunks of the data passed through the csv

for chunks in df_chunks:
    print(chunks['Name'])

0       Adam Jones
1    Edward Elrich
Name: Name, dtype: object
2    Stain Steve
3      Ken Adams
Name: Name, dtype: object
4    Ross Taylor
Name: Name, dtype: object