In [18]:
#Now we will deal with the different functionalities for dealing with the data stored in DataFrames and Series objects
#One such functionality is Reindexing

import pandas as pd
import numpy as np
from pandas import Series, DataFrame

series_obj = Series([1.3,2.5,3.2,6.4], index=['c','b','a','d'])
series_obj

c    1.3
b    2.5
a    3.2
d    6.4
dtype: float64

In [21]:
frame_obj = DataFrame([[11,'Dec',2013],[4,'June',1996],[7,'May',1896]], columns = ['Date','Month','Year'], index=['A','B','C'])
frame_obj

   Date Month  Year
A    11   Dec  2013
B     4  June  1996
C     7   May  1896

In [9]:
#Reindexing: Arranges values according to given index
series_obj2 = series_obj.reindex(['b','a','d','c','e'])
series_obj2

b    2.5
a    3.2
d    6.4
c    1.3
e    NaN
dtype: float64

In [11]:
#Suppose we wanna store a certain value to the newly added index 'e' during initialization then
#The opertion is applicable for all NaN values

series_obj2 = series_obj.reindex(['b','a','d','c','e'], fill_value = 0)
series_obj2

b    2.5
a    3.2
d    6.4
c    1.3
e    0.0
dtype: float64

In [12]:
series_obj2_ = series_obj.reindex(['b','d','e','a','c','f','g'], fill_value = 0)
series_obj2_

b    2.5
d    6.4
e    0.0
a    3.2
c    1.3
f    0.0
g    0.0
dtype: float64

In [13]:
#In case of ordered data, we can interpolate values while reindexing using method

#To forward the fill values
series_obj3 = Series(['state0','state1','state2'], index=[0,2,4])
series_obj3

0    state0
2    state1
4    state2
dtype: object

In [15]:
#Now for time series we would have:
series_obj3.reindex(range(6), method='ffill')

0    state0
1    state0
2    state1
3    state1
4    state2
5    state2
dtype: object

In [17]:
#In case of backward fill values
series_obj3.reindex(range(-1,5), method='bfill')

-1    state0
0     state0
1     state1
2     state1
3     state2
4     state2
dtype: object

In [22]:
#In case of DataFrames, it can be used to alter the row, column or index of both

frame_obj

   Date Month  Year
A    11   Dec  2013
B     4  June  1996
C     7   May  1896

In [23]:
frame_obj2 = frame_obj.reindex(['C','A','B'])
frame_obj2

   Date Month  Year
C     7   May  1896
A    11   Dec  2013
B     4  June  1996

In [25]:
#Columns can be reindexed using the columns keyword
column_vals = ['Month','Day','Year']
frame_obj2.reindex(columns = column_vals)

  Month  Day  Year
C   May  NaN  1896
A   Dec  NaN  2013
B  June  NaN  1996

In [40]:
#We can reindex both row and column at the same time using interpolation row-wise

frame_obj.reindex(['B','C','A'], method = 'ffill', columns=['Month','Date','Year'])

  Month  Date  Year
B  June     4  1996
C   May     7  1896
A   Dec    11  2013

In [43]:
#There is another method for reindexing using label-indexing:
frame_obj.loc[['B','C','A'], ['Month','Date','Year']]

  Month  Date  Year
B  June     4  1996
C   May     7  1896
A   Dec    11  2013