In [1]:
#We now look at a more general method of replacement in pandas
import pandas as pd
from pandas import DataFrame, Series
import numpy as np

In [6]:
#Consider a Series of values
data = Series([1.,-234,2.,-234,1000,-124,-999,456,-999,56,234])

In [7]:
data

0        1.0
1     -234.0
2        2.0
3     -234.0
4     1000.0
5     -124.0
6     -999.0
7      456.0
8     -999.0
9       56.0
10     234.0
dtype: float64

In [8]:
#The replace method allows you to change values easily
#Suppsoe -999 be sentimental values for missing data

data.replace(-999, np.nan) #Replacing all -999 values with NaN values

0        1.0
1     -234.0
2        2.0
3     -234.0
4     1000.0
5     -124.0
6        NaN
7      456.0
8        NaN
9       56.0
10     234.0
dtype: float64

In [11]:
#We can also perform it on more than one items at a time by passing the items to replace as a list with a list of their replacement values

data.replace([-999,-234], np.nan)

0        1.0
1        NaN
2        2.0
3        NaN
4     1000.0
5     -124.0
6        NaN
7      456.0
8        NaN
9       56.0
10     234.0
dtype: float64

In [12]:
data.replace([-999,-234],[np.nan,0])

0        1.0
1        0.0
2        2.0
3        0.0
4     1000.0
5     -124.0
6        NaN
7      456.0
8        NaN
9       56.0
10     234.0
dtype: float64

In [15]:
#We can also perform the operations using dicts instead of lists
data.replace({-999: np.nan, -234:0})

0        1.0
1        0.0
2        2.0
3        0.0
4     1000.0
5     -124.0
6        NaN
7      456.0
8        NaN
9       56.0
10     234.0
dtype: float64