In [1]:
#We now look into more operations on Sequence of values
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [2]:
series_obj = Series(list('abdecdafegade'))
series_obj

0     a
1     b
2     d
3     e
4     c
5     d
6     a
7     f
8     e
9     g
10    a
11    d
12    e
dtype: object

In [24]:
frame_obj = DataFrame({'Data1':np.arange(0,4), 'Data2':np.array([1,3,5,7]), 'Data3':np.arange(5,9)})
frame_obj

   Data1  Data2  Data3
0      0      1      5
1      1      3      6
2      2      5      7
3      3      7      8

In [5]:
#Unique value method: unique (For Series)
series_obj.unique() #Gives a list of unique values in Series object

array(['a', 'b', 'd', 'e', 'c', 'f', 'g'], dtype=object)

In [20]:
#Value count method: value_counts (For Series)
series_obj.value_counts() #Gives a Series containing the value frequency of each item

d    3
e    3
a    3
f    1
b    1
g    1
c    1
dtype: int64

In [21]:
#This method is also available for pandas library i.e.
pd.value_counts(series_obj, sort=False)

a    3
e    3
d    3
c    1
g    1
b    1
f    1
dtype: int64

In [22]:
#Comparison method: isin (Returns a Boolean value)
series_obj.isin(list('agd')) #Returns True for elements in provided list, returns False for other elements

0      True
1     False
2      True
3     False
4     False
5      True
6      True
7     False
8     False
9      True
10     True
11     True
12    False
dtype: bool

In [25]:
#Applying value_counts method on DataFrame
#We can use the apply method to apply the value_counts method on the DataFrame object to get frequency values of items in the columns, this may help in creating various charts like Histogram, etc.

hist_res = frame_obj.apply(pd.value_counts).fillna(0) #Calculates frequency value and puts 0 for all NaN values
hist_res

   Data1  Data2  Data3
0    1.0    0.0    0.0
1    1.0    1.0    0.0
2    1.0    0.0    0.0
3    1.0    1.0    0.0
5    0.0    1.0    1.0
6    0.0    0.0    1.0
7    0.0    1.0    1.0
8    0.0    0.0    1.0