In [36]:
import json
from pandas import DataFrame

In [27]:
#JSON stands for Java Script Object Notation
#JSON is the standard format for sending data by HTTP requests between web browsers and other applications
#We now look at some functionalities of the built-in python json module

#First creating a json object

obj = """
{
    "name":"Adam Jones",
    "age": 25,
    "places_lived":["Pakistan","UAE","USA"],
    "fields_exp": [{"company":"Folio3","duration(years)":2,"job":"Tester"},
                    {"company":"Siemens","duration(years)":7,"job":"Software Eng"}]}
"""

In [28]:
#The above is a json object whose format largely resembles that of python script dictionary
#Since json is a text format, thus we have to create its object in a multi-string, otherwise we will get an error that json.loads accepts only str object

#Now to load this object we can use the json.loads function
json_reader = json.loads(obj)

In [29]:
json_reader #To display the data in json object as a python object

{'name': 'Adam Jones',
 'age': 25,
 'places_lived': ['Pakistan', 'UAE', 'USA'],
 'fields_exp': [{'company': 'Folio3', 'duration(years)': 2, 'job': 'Tester'},
  {'company': 'Siemens', 'duration(years)': 7, 'job': 'Software Eng'}]}

In [30]:
#We can convert the python object into a json object by using the json.dumps method
obj = json.dumps(json_reader)

In [31]:
obj #Displaying the json object

'{"name": "Adam Jones", "age": 25, "places_lived": ["Pakistan", "UAE", "USA"], "fields_exp": [{"company": "Folio3", "duration(years)": 2, "job": "Tester"}, {"company": "Siemens", "duration(years)": 7, "job": "Software Eng"}]}'

In [32]:
#We can pass the json data directly to a pandas DataFrame or pass it after converting it into a python object

json_df = DataFrame(json_reader['fields_exp'], columns=['company','job','duration(years)'])

In [33]:
json_df

   company           job  duration(years)
0   Folio3        Tester                2
1  Siemens  Software Eng                7