In [1]:
#Another binary format yet for large data purposes is the Heirarchical Data Format HDF
#Pandas supports the HDF5 format with the use of pytables interface

import pandas as pd
from pandas import DataFrame

In [4]:
#Creating a hdf5 format file using pandas (Dependency tables mst be installed in order to use it: pip install tables)
hdf_file = pd.HDFStore('data.h5')

In [5]:
data = pd.read_csv('Data Files/fields.csv')

In [6]:
data

   ID           Name             Field
0   1     Adam Jones        Electrical
1   2  Edward Elrich        Mechanical
2   3    Stain Steve  Computer Science
3   4      Ken Adams     Media Science
4   5    Ross Taylor         Sportsman

In [7]:
#HDF5 storage works that of a dictionary, we pass keys and store whole dataframe or big data into it
hdf_file['obj1'] = data

In [8]:
hdf_file['obj2'] = data['Name'] #Storing the names as second object

In [10]:
hdf_file

<class 'pandas.io.pytables.HDFStore'>
File path: data.h5

In [11]:
#To retieve the data simply pass the key like we do in case of a dictionary
hdf_file['obj1']

   ID           Name             Field
0   1     Adam Jones        Electrical
1   2  Edward Elrich        Mechanical
2   3    Stain Steve  Computer Science
3   4      Ken Adams     Media Science
4   5    Ross Taylor         Sportsman

In [12]:
hdf_file['obj2']

0       Adam Jones
1    Edward Elrich
2      Stain Steve
3        Ken Adams
4      Ross Taylor
Name: Name, dtype: object